{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
  <li class=" breadcrumb-item active">Boards</li>
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/boards.css' %}">
{% endblock %}

{% block content %}
<div class="mb-4">
  <a href ='#' data-url="{% url 'create_board' %}" method='GET' class="btn btn-primary js-get-create-form">Create new</a>
</div>
<div class="container-fluid">

</div>
<div class="w-75 d-inline-block">
  {% include 'includes/boards.html' %}
</div>
<div class="w-30 d-inline-block">
   {% include 'includes/history.html' %}
</div>
</div>
  <div class="modal fade" id="modal-board">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
  <script src={% static "js/blog/board.js" %}></script>
{% endblock %}
